body {
    background-color: rgba(0.1, 0.1, 0.1, 0.05);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
}

/* Game */
#game-container * {
    font-size: 1.25em;
}

#game-container h1 {
    font-size: 2em;
}

#game-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    height: fit-content;
    width: fit-content;
    border: solid 2.5px black;
    background-color: black;
}

#game-board>.row:nth-child(3n) {
    margin-bottom: 2.5px;
}

#game-board>.row>input:not(:last-child):nth-child(3n) {
    margin-right: 2.5px;
}


.row {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.cell {
    width: 1em;
    padding: 0.2em;
    text-align: center;
    margin: 0.5px;
    border: none;
    color: black;
    background-color: white;
}

.prefilled {
    background-color: rgb(160, 200, 255);
}

.cell:focus {
    border: none;
    outline: none;
    background-color: lightblue;
}

.conflicted {
    color: red;
}

/* UI elements */
.navigation {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.button {
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5em;
    margin-left: .5em;
    margin-right: .5em;
    background-color: rgb(75, 150, 255);
    user-select: none;
}

.button:hover {
    background-color: rgb(75, 140, 200);
    cursor: pointer;
}

#easy,
#medium,
#hard {
    width: 3.5em;
    margin-top: 0.5em;
    margin-left: 2em;
}

.alert {
    color: red;
    align-self: center;
}
